.Container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.FormTitle {
    font-size: 2.5em;
    color: var(--main-text-color);
}

.Toast {
    background-color: var(--secondary-color);
    color: var(--main-text-color);
}