.Container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--main-text-color);
}

.LeaderboardTitle {
    font-size: 3rem;
}

.Rows {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}