.Container {
    width: 95%;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .Container {
        width: 900px;
    }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
